body {
  margin: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(170, 176, 182);
}
.nav-container {
  position: fixed;
  width: 100%;
  background-color: whitesmoke;
}

.container {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 1.25rem;
}

.promotion{
  display: flex;
}

.article-body{
  width: 50%;
}

.subscribe {
  border-top: 1px solid slategray;
  border-bottom: 1px solid slategray;
  padding: 10px;
}
.under-media {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.media-description{
  color: grey;
  font-size: medium;
  padding-bottom: 0;
  margin-bottom: 0;
}

.media-credit{
  color: grey;
  font-size: small;
  display: inline-block;
  padding-top: 0;
  margin-top: 5px;
}

.promotion {
  border-top: 1px solid grey;
  padding: 5px;
  width: 50%;
  font-size: medium;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.promotion-text{
  flex: 1;
}

.signup{
  display: inline-block;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.signup-continue {
  display: inline-block;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.in-article-button { 
  align-self: flex-end;
  justify-self: flex-end;
  color: black; 
  background-color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
  padding: 7px 20px 7px 20px;
  margin: 3px;
}